<%= set_default("idle_versions", {}) %>
<%= set_default("active_versions", {}) %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 ><b>rooms</b> </h1>
    </div>
  </div>

  <div class="row col-md-12">
    <% _.each(versions, function(ver, room) { %>
      <div class="thumbnail col-md-2">
        <h2>
          <a href="<%= url_for("harmonies.index", { id: room}) %>"><%= room %></a>
        </h2>
        <h3>Pictures: <%= ver + 1 %> </h3>
      </div>
    <% }) %>
  </div>

  <% if (!_.isEmpty(idle_versions)) { %>
    <div class="row">
      <div class="col-md-8">
        <h1 ><b>idle rooms</b> </h1>
      </div>
    </div>

    <div class="row col-md-12">
      <% _.each(idle_versions, function(ver, room) { %>
        <div class="thumbnail col-md-2">
          <h2>
            <a href="<%= url_for("harmonies.index", { id: room}) %>"><%= room %></a>
          </h2>
          <h3>Pictures: <%= ver + 1 %> </h3>
        </div>
      <% }) %>
    </div>
  <% } %>

</div>

